mixin footer()
  footer.footer
    .footer-content
      .footer-logo MyStore
      ul.footer-links
        li: a(href="/") Home
        li: a(href="/products") Products
        li: a(href="/about") About
        li: a(href="/contact") Contact
      .footer-social
        a(href="#") Facebook
        a(href="#") Twitter
        a(href="#") Instagram
    p.footer-copy © 2025 MyStore. All rights reserved.
