doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Navbar Example
    link(rel="stylesheet", href="/styles/global.css")
  body
    nav.navbar
      .logo MyStore
      ul.nav-links
        li: a(href="#") Home
        li: a(href="#") Products
        li: a(href="#") About
        li: a(href="#") Contact
